.custom-card {
  height: 100%; /* Ensures the card always has full height */
  background: #fafcfc;
  box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #ffffff;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-img {
  height: 150px;
  object-fit: contain;
  transition: transform 0.3s ease; /* Smooth transition when enlarging */
}

.custom-card:hover .card-img {
  transform: scale(1.2); /* Enlarges the image by 20% when you hover over it */
}

.card-body {
  flex-grow: 1; /* Ensures that the body of the card occupies the remaining space */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribute content evenly */
}

.card-title {
  min-height: 40px; /* Set a minimum height to prevent cards with longer names from resizing */
  overflow: hidden; /* Prevent text from overflowing */
  text-overflow: ellipsis; /* Add ellipses if the text is very long */
  white-space: nowrap;
}

.card-subtitle, .card-text, h5 {
  margin: 5px 0; /* Control the spacing to avoid texts joining together */
}
