footer {
    background-color: #343a40; /* Ajusta el color oscuro */
    color: #fff; /* Texto en blanco */
  }
  
  footer a {
    color: #ccc; /* Color de los enlaces */
    text-decoration: none;
  }
  
  footer a:hover {
    color: #fff; /* Al pasar el mouse, el enlace cambia a blanco */
    text-decoration: underline;
  }
  